@model IEnumerable<HostelService.Domain.Entities.Customer>

@{
    ViewBag.Title = "CustomerLookup";
}

<h2>CustomerLookup</h2>

@if (Session["UserType"].ToString() == "admin") {
    using (Html.BeginForm()) {
        <p>
            @Html.TextBox("customerIdParam")
            <input type="submit" value="Search by CustomerID" />
        </p>
    }
}

<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.CustomerID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SiteID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LocalCustomerID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Address1)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ZipCode)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.City)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CountryID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Phone)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Mobile)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PermissionStatus)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Gender)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Category)
    </th>
    <th></th>
    <th></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(model => item.SiteID)
        </td>
        <td>
            @Html.DisplayFor(model => item.LocalCustomerID)
        </td>
        <td>
            @Html.DisplayFor(model => item.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(model => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(model => item.City)
        </td>
        <td>
            @Html.DisplayFor(model => item.CountryID)
        </td>
        <td>
            @Html.DisplayFor(model => item.Email)
        </td>
        <td>
            @Html.DisplayFor(model => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(model => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(model => item.PermissionStatus)
        </td>
        <td>
            @Html.DisplayFor(model => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(model => item.Category)
        </td>
        <td>            
            @Html.ActionLink("Card", "CardLookup", "Card", new { customerId = item.CustomerID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Bookings", "BookingLookup", "Booking", new { customerId = item.CustomerID }, new { @class = "btn btn-default" })             
        </td>
        <td>
            @Html.ActionLink("Edit", "CustomerEdit", "Customer", new { id = item.CustomerID }, new { @class = "btn btn-default" })
            @if (Session["UserType"].ToString() == "admin") {
                @Html.ActionLink("Delete", "CustomerDelete", "Customer", new { customerIdStr = Convert.ToString(item.CustomerID) }, new { @class = "btn btn-default" })
            }
        </td>
</tr>
}

</table>
